header{background-color:#0088A8;width:100%;height:30px;line-height:30px}
header h3{
	font-size:18px;
	font-weight:bold;
}
header button{
	margin:4px 6px;
}
.regist{
	overflow:hidden;
	padding:30px 100px;	
}
#formRegist, #formLogin{
  display:none;
  z-index:1000;
  position:absolute;
}

.bgColor{
	background:#000;
	filter:alpha(opacity=10);
	opacity:.1;
	left:0px;
	top:0px;
	position:fixed;
	height:100%;
	width:100%;
	overflow:hidden;
	z-index:10;
	position:absolute;
	display:none;
}
  /*×¢²á¿òµÄÖÆ×÷*/
 #formRegist input, #formLogin input{
	border:solid 1px #bbb;
	width:200px;
	height:25px;
 }
#formRegist label, #formLogin label{
	font-size:17px;
}
.formInput{
	width:600px;
	margin:10px auto;
}
#sex input{
	border:none;
	width:15px;
	height:15px;
}
.formInput label{
display:inline-block;
width:100px;
text-align:right;
margin-right:20px;
}
#formRegist button, #formLogin button{
	margin:15px 60px;
}